/* global css  */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  background: #fff;
}
/* global css  */

/* navbar css */
.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.first {
  margin-top: 20px;
  margin-left: 40px;
  font-size: 15px;
}

.first h1 {
  font-weight: 400;
}

.middle {
  margin-top: 20px;
  font-size: 15px;
  color: #222;
  opacity: calc(50%);
}

.last {
  font-size: 20px;
  display: flex;
  align-items: center;
}
.last a {
  opacity: calc(50%);
  color: #222;
  text-decoration: none;
  margin-right: 10px;
}
.last svg {
  opacity: calc(50%);
  margin-right: 40px;
  width: 23px;
  height: 23px;
  cursor: pointer;
}
.last a:hover {
  opacity: calc(100%);
  color: #222;
  transition: all 0.7s;
}
.last svg:hover {
  opacity: calc(100%);
  color: #222;
  transition: all 0.7s;
}

/* navbar css */
